In [1]:
import os
import shutil
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import math
import datetime

from fbprophet import Prophet

In [2]:
df_sales = pd.read_csv('sales_train_v2.csv')

In [3]:
# look at some bad data past 1 Nov 2015
df_sales_bad = df_sales
df_sales_bad['date'] = pd.to_datetime(df_sales_bad['date'])
df_sales_bad = df_sales_bad.sort_values(by='date')

df_sales_bad = df_sales.loc[(df_sales_bad['item_cnt_day']>0)&
                                ((df_sales_bad['item_id']==969)) &
                                  (df_sales_bad['date']>pd.to_datetime('2015-11-01'))&
                               (df_sales_bad['date_block_num']<38)]

df_sales_bad

              date  date_block_num  shop_id  item_id  item_price  item_cnt_day
2337086 2015-12-01              24       12      969       398.0           1.0
2487965 2015-11-03              26       46      969       298.0           1.0
2534289 2015-12-03              26        7      969       298.0           1.0
2864963 2015-12-09              32       14      969       198.0           2.0

In [4]:
# good data is where the date block matches the date
df_sales_good = df_sales
df_sales_good['date'] = pd.to_datetime(df_sales_good['date'])
df_sales_good = df_sales_good.sort_values(by='date')
df_sales_good = df_sales_good.loc[(df_sales_good['date_block_num'] == 
                                 (df_sales_good['date'].dt.year-2013)*12 +
                                 df_sales_good['date'].dt.month-1)]
df_sales_good.info()

INFO:numexpr.utils:NumExpr defaulting to 1 threads.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1870740 entries, 109593 to 2902265
Data columns (total 6 columns):
date              datetime64[ns]
date_block_num    int64
shop_id           int64
item_id           int64
item_price        float64
item_cnt_day      float64
dtypes: datetime64[ns](1), float64(2), int64(3)
memory usage: 99.9 MB